# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Power BI cache
*.pbix.autorecover

# PostgreSQL dumps
*.backup
*.sql.bak

# Environment
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db